.fists{
    color: blue;
    font-weight: bold;
}

.second {
    color: aqua;
    font-weight: normal
}

.three {
    color: aqua;
    font-weight: normal
}

.four {
    color: deeppink;
    font-weight: bold;
}

.five{
    color: yellow;
    font-weight: normal
}

.six{
    color: #8E8E8E;
    font-weight: normal
}