.fist {
    color:blue;
    font-weight: 600;
    font-size: 24px;
}
.second {
    color:aqua
}
.three {
    color:aqua
}
.four {
    color:deeppink
}
.five {
    color:yellow
}
.six{
    color:dimgray
}