* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #767676;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}